body {
  background-color: #a1a1a1;
  margin: 50px;
  color: white;
}

body .container {
  margin: 0 auto;
  padding: 50px;
  width: 80vw;
  height: 80vh;
  background: url(./images/football.jpg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
}

form {
  display: flex;
}

form input {
  height: 30px;
  margin-right: 40px;
  border: solid rgb(198, 9, 223) ;
  color: rgb(198, 9, 223);
  border-radius: 5px;
}

form button {
  height: 30px;
  font-size: 20px;
  border: none;
  background-color: rgb(198, 9, 223);
  color: white;
  border-radius: 5px;
  color: white;

}

form button:hover {
  background-color: #fff;
  color:rgb(198, 9, 223);
}

img {
  display: block;
  height: auto;
  width: 100%;
}


ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin: 20px;
  width: 30%;
  font-size: 20px;
}


